<%# <td class="image">
  <%= image_tag(product.image_url, class: 'list_image') %>
<%# </td> %>
<td class="image">
  <% if one_image %>
    <%= image_tag generate_image_url(product.images[0]),class: 'list_image'%>
  <% else %>
    <% product.images.each do |image| %>
      <%= image_tag generate_image_url(image), width: '200', height: '200' %>
    <% end %>
  <% end %>
</td>
<td class="description">
  <h1><%= product.title %></h1>
  <p>
    <%= truncate(strip_tags(product.description), length: 80) %>
  </p>
</td>
