<%# <td class="image">
  <%= image_tag(product.image_url, class: 'list_image') %>
<%# </td> %>
<td class="image">
  <% if one_image %>
    <%= image_tag generate_image_url(product.images[0]),class: 'list_image'%>
  <% else %>
    <% product.images.each do |image| %>
      <%= image_tag generate_image_url(image), width: '200', height: '200' %>
    <% end %>
  <% end %>
</td>
<td class="description">
  <h1><%= product.title %></h1>
  Users Ratings: <span id = "rating<%= product.id %>"><%= product.average_rating %></span>
  <%= form_with url: ratings_path, method: :post, data: {remote: true, type: :json} do |form| %>
    <%= form.hidden_field :product_id, value: product.id %>
    <%= form.hidden_field :user_id, value: @user_logged_in.id %>
    <%= form.select :points, generate_ratings, selected: current_user_product_rating(product.ratings, @user_logged_in) %>
    <%= form.submit 'Submit Rating' %>
  <% end %>
  <p>
    <%= truncate(strip_tags(product.description), length: 80) %>
  </p>
</td>
<%= javascript_pack_tag 'ratings' %>
